
@*@model NBP_I_PROJEKAT.Views.Home.MojeObjaveModel*@
@using NBP_I_PROJEKAT.Models
@using NBP_I_PROJEKAT.Controllers

@model List<Objava>





<div class="container">
    <div class="row main-row d-flex justify-content-center">
        @if (Model.Count > 0)
            foreach (var o in Model)
            {
                <div class="col-3 mt-2 d-flex justify-content-center">
                    <div class="card card-shadow" style="width: 18rem;">
                        <div class="card-body" style="background-color:wheat;">
                            <h4 class="card-title">Objava: @o.Naziv</h4>
                            <h6 class="card-title" style="font-size:larger; ">Tag: #@o.Tag</h6>
                            <h6 class="card-title ">Kratak opis objave: </h6>
                            <h6 class="card-text">@o.Sadrzaj</h6>
                            <button class="btn btn-primary" onclick="@($"OpenModalPopUp('{o.Id}', '{o.Naziv}', '{o.Tag}', '{o.Sadrzaj}')");">Izmeni</button>
                            <a asp-controller="Objava" asp-action="ObrisiObjavu" asp-route-objavaID="@o.Id" class="btn btn-danger">Obriši</a>
                        </div>
                    </div>
                </div>
            }
        else
        {
            <div>
                <label>Trenutno nemate ni jednu objavu!</label>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="changeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeModalLongTitle">Izmeni objavu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="id" class="form-control" id="id">
                 
                    <div class="form-group">
                        <label for="Tag">Tag objave</label>
                        <input type="text" name="Tag" class="form-control" id="Tag">
                    </div>
                    <div class="form-group">
                        <label for="Naziv">Naziv objave</label>
                        <input type="text" name="Naziv" class="form-control" id="Naziv">
                    </div>
                   
                    <div class="form-group">
                        <label for="Sadrzaj">Sadrzaj objave</label>
                        <input type="text" name="Sadrzaj" class="form-control" id="Sadrzaj">
                    </div>
                    <button type="submit" class="btn btn-danger" asp-action="PromeniObjavu" asp-controller="Objava">Izmeni</button>
                    <button type="submit" class="btn btn-primary" asp-action="MojeObjave" asp-controller="Home">Odustani</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function OpenModalPopUp(id, naziv, tag, sadrzaj) {
        let strId = id.toString();
        $('#id').val(strId);
        $('#tag').val(tag);
        $('#naziv').val(naziv);
        $('#sadrzaj').val(sadrzaj);
        $("#changeModal").modal();
    }
</script>
